---
BasedOnStyle: None
ColumnLimit: 240
IndentWidth: 2
TabWidth: 2
SpacesBeforeTrailingComments: 1
UseTab: Never
PointerAlignment: Right
SortIncludes: false
AccessModifierOffset: 0
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
IndentAccessModifiers: true
IndentPPDirectives: AfterHash
BinPackArguments: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
