BasedOnStyle: LLVM

# General
AccessModifierOffset: 0
BinPackArguments: false
BreakBeforeBraces: Custom
ColumnLimit: 240
ContinuationIndentWidth: 2
IndentAccessModifiers: false
IndentPPDirectives: AfterHash
IndentWidth: 2
PenaltyBreakBeforeFirstCallParameter: 1000
PointerAlignment: Right
SortIncludes: false
SpacesBeforeTrailingComments: 1
TabWidth: 2
UseTab: Never

# Allow
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

# Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Left

# Brace wrapping
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
